export MONGO_URL="mongodb://127.0.0.1:27017/greenbot"
export DOMAIN="......" #e.g. www.greenbot.com
export ROOT_URL="http://$DOMAIN"
export GREENBOT_IO_URL="$ROOT_URL:3003"

# ADAPTER SPECIFIC SECTION

#TSG adapter settings
export TSG_CALLBACK_HOST="$ROOT_URL:3001"
export TSG_COBRA_KEY="....."
export TSG_SECRET="....."


