{{!< layout}}

<!-- the Javascript file js/addon.js is imported in the layout -->
<!-- It contains functions which execute actions for buttons/links in this page -->

<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
      <h3>Your sidebar goes here!</h3>
      <ul>
        <li>Group ID: {{identity.groupId}}</li>
        <li>
          Room ID: {{identity.roomId}}
          <small>
            <a href="#" id="room">room details</a> |
            <a href="#" id="participants">participants</a>
          </small>
        </li>
        <li>
          User ID: {{identity.userId}}
          <small>
            <a href="#" id="user">user details</a>
          </small>
        </li>
      </ul>
    </div>
  </div>
  <br>

  <div class="aui-row">
    <div class="aui-item">
      <h4 id="details-title"></h4>
      <pre id="details"></pre>
    </div>
  </div>
  <br>

  <div class="aui-row">
    <div class="aui-item">
      <button id="say_hello" class="aui-button">Say Hello!</button>
    </div>
  </div>
</div>
