{{!< layout}}

<div class="row">

	<div class="col-sm-4 col-sm-offset-4 bootcards-cards">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Settings</h3>
				<a href="/settings" class="btn btn-success pull-right" data-pjax="#main">
					Save
				</a>
			</div>

			<div class="list-group">
				<div class="list-group-item">
					<label class="list-group-item-text">Password</label>
					<div class="list-group-item-heading">
						<input type="password" name="password" class="form-control">
					</div>
				</div>
				<div class="list-group-item">
					<label class="list-group-item-text">Password Confirmation</label>
					<div class="list-group-item-heading">
						<input type="password" name="password_confirmation" class="form-control">
					</div>
				</div>
				{{#each config}}
				<div class="list-group-item">
					<label class="list-group-item-text">{{this.key}}</label>
					<textarea maxlength="150" name={{this.key}} class="form-control" cols=40 rows=4>{{this.v}}
					</textarea>
				</div>
				{{/each }}
			</div>

		</div>
	</div>
</div>
