extends ./layout

block content
  .row.col-sm-6
    .bootcards-cards
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left Prompts
          .pull-right
            a.btn.btn-primary(href='/portal/config/edit', data-pjax='#main')
              i.fa.fa-pencil
              | Edit

        .list-group
          each setting in config
            .list-group-item
              h4.list-group-item-heading #{setting.key}
              p.list-group-item-text #{setting.v}
