{{!< layout}}

<div class="row">

	<div class="col-sm-4 col-sm-offset-4 bootcards-cards">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Settings</h3>
				<a href="/config/edit" class="btn btn-primary pull-right" data-pjax="#main">
					<i class="fa fa-pencil"></i>
					Edit
				</a>
			</div>

			<div class="list-group">
				{{#each config}}
				<div class="list-group-item">
					<p class="list-group-item-text">{{this.key}}</p>
					<h4 class="list-group-item-heading">{{this.v}}</h4>
				</div>
				{{/each }}
			</div>
	</div>

</div>
