{{!< layout}}

		<div class="row">

			<div class="col-md-5 col-sm-5 bootcards-list" id="list" data-title="Connections">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="search-form">
							<div class="row">
							    <div class="col-xs-9">
							      <div class="form-group">
								      <input type="text" class="form-control" placeholder="Search Connections...">
								      <i class="fa fa-search"></i>
							      </div>
							    </div>
							    <div class="col-xs-3">
									<a class="btn btn-primary btn-block" href="/connections/add"
										data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-plus"></i>
										<span>Add</span>
									</a>
							    </div>
							</div>
						</div>
					</div>
					<div class="list-group">
						{{#each activities}}
						<a class="list-group-item pjax"
					 			href="/connections/{{this.id}}">
							<i class="fa fa-2x pull-left {{getIconForType this.type}}"></i>
							<h4 class="list-group-item-heading">{{this.subject}}</h4>
							<p class="list-group-item-text">{{formatDate this.date "long"}}
							</p>
						</a>
						{{else}}
							<div class="list-group-item">No connections found</div>
						{{/each}}
					</div>
				</div>
			</div>

			<div class="col-md-7 col-sm-7 bootcards-cards" id="listDetails">

				{{>connections/todo}}

			</div>
		</div>
