html
  body
    | {{#if activity.isNew}}
    form.form-horizontal(method='POST', action='/contacts/{{contact.id}}/connections', data-pjax='#listDetails')
      | {{else}}
      form.form-horizontal(method='POST', action='/contacts/{{contact.id}}/connections/{{activity.id}}', data-pjax='#listDetails')
        | {{/if}}
        .modal-header
          | {{&gt;dialog_buttons}}
          h3.modal-title
            | {{#if activity.isNew}}
            | New Connection
            | {{else}}
            | Edit Connection
            | {{/if}}
        .modal-body
          input(type='hidden', name='_method', value='put')
          | &#x9;{{&gt;activity_form activity}}
