extends ./layout

block content
  .row.col-sm-6
    .bootcards-list
      .panel.panel-default
        .panel-heading.clearfix
          h3.panel-title.pull-left Conversations
          h3.panel-title.pull-right
            a.pjax(href='/portal/conversations/download')
              | Download as CSV
        .panel-body
          each conversation in conversations
            .list-group
              a.list-group-item.pjax(href='/portal/conversations/#{conversation.session_id}')
                h4.list-group-item-heading  #{conversation.src}
                p.list-group-item-text #{conversation.display_timestamp}
