extends ./layout

block content
  .row
    .bootcards-cards
      .panel.panel-default.bootcards-summary
        .panel-heading
          h3.panel-title Dashboard - #{current_room} : #{current_keyword}
        .panel-body
          .row
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config/info', data-title='Information', style='padding-top:35px;')
                i.fa.fa-3x.fa-info-circle
                h4
                  | Info
            .col-sm-3
              a.bootcards-summary-item(href='/portal/conversations', data-pjax='#main', data-title='Conversations', style='padding-top:35px;')
                i.fa.fa-3x.fa-comments-o
                h4
                  | Conversations
            .col-sm-3
              a.bootcards-summary-item(href='/portal/settings', style='padding-top:35px;')
                i.fa.fa-3x.fa-cogs
                h4
                  | Settings
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config/rooms', data-pjax='#main', data-title='Help', style='padding-top:35px;')
                i.fa.fa-3x.fa-exchange
                h4
                  | Switch Room
            .col-sm-3
              a.bootcards-summary-item(href='http://kisst.zendesk.com', data-pjax='#main', data-title='Help', style='padding-top:35px;')
                i.fa.fa-3x.fa-question-circle
                h4
                  | Help
            .col-sm-3
              a.bootcards-summary-item(href='/logout', style='padding-top:35px;')
                i.fa.fa-3x.fa-sign-out
                h4
                  | Sign Out
        .panel-footer
          small.pull-left
            Currently Room: #{roomName}, keyword #{selectedKeyword}
