html
  body
    | {{!&lt; layout}}
    .row
      .bootcards-cards
        .col-sm-6
          | {{&gt;data/closed_sales}}
          | {{&gt;data/sales_product_type}}
        | &#x9;&#x9;
        .col-sm-6
          | {{&gt;data/database_size}}
          | {{&gt;data/current_month_forecast}}
