html
  body
    .btn-group.pull-left
      button.btn.btn-danger(data-dismiss='modal')
        | Cancel
    | &#x9;
    .btn-group.pull-right
      button.btn.btn-success(data-dismiss='modal')
        | Save
