html
  body
    .modal-header
      .btn-group.pull-left
        button.btn.btn-danger(data-dismiss='modal')
          | Close
      | &#x9;
      h4.modal-title Source
    .modal-body
      | {{{content}}}
