extends ./layout

block content
  .row.col-sm-6
    .bootcards-list
      .panel.panel-default.bootcards-summary
        .panel-heading.clearfix
          h3.panel-title.pull-left Networks
        .panel-body
          h4
            | Current Attached Network
          .row
            each network in networks
              .col-xs-6.col-sm-6
                a.bootcards-summary-item(href="/portal/config/#{network.name}")
                  i.fa.fa-3x.fa-plug
                  h4= network.name
                    if network.current
                      span.label.label-info
                        | current
                        i.fa.fa-check
