extends ./layout

block content
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .bootcards-list
        .panel-heading
          span.title Notification Emails
          ul.pull-right.no-list-dots
            li
              a(data-toggle="collapse", href="#new_email", aria-expanded="false", aria-controls="new_email")
                i.fa.fa-plus-square

        #new_email.collapse
          .panel-body
            form.form-horizontal(method="POST", action="/portal/config/notification_email_add")
              .input-group
                input.form-control(name="email", placeholder="Additional notification email")
                span.input-group-btn
                  button.btn.btn-primary
                    i.fa.fa-plus-square.fa-lg
        .list-group
            each notification_email in notification_emails
              .list-group-item
                =notification_email
                a(href='/portal/config/notification_email_delete?email=#{encodeURIComponent(notification_email)}', data-pjax='#main')
                  i.fa.fa-trash-o.fa-lg

    .panel.panel-default
      form.form-horizontal(method="POST", action="/portal/config/notification_creds_update")
        .bootcards-list
          .panel-heading
            span.title Notification Settings
              ul.pull-right.no-list-dots
                li
                  button
                    span.panel-default
                      i.fa.fa-sign-in
                      |   Save
          .panel-body
            .input-group
              label.col-xs-4.control-label Webhook URL
              input.form-control(name="webhook", value=webhook, placeholder="Conversation Complete POST URL")
            .input-group
              label.col-xs-4.control-label Account
              input.form-control(name="mail_user", value=mail_user, placeholder="GMail User Name")
            .input-group
              label.col-xs-4.control-label Password
              input.form-control(name="mail_pass", value=mail_pass, placeholder="GMail Password", type="password")
