extends ./layout

block content
  .col-sm-6
    .panel.panel-default
      .bootcards-list
        .panel-heading
          span.title Owners
          ul.pull-right.no-list-dots
            li
              a(data-toggle="collapse", href="#new_owner", aria-expanded="false", aria-controls="new_owner")
                i.fa.fa-plus-square.fa-2x

        #new_owner.collapse
          .panel-body
            form.form-horizontal(method="POST", action="/portal/config/owner_add")
              .input-group
                input.form-control(name="new_owner", placeholder="Additional owner cellphone")
                button.btn.btn-primary
                  i.fa.fa-plus-square
                  |   Add
        .list-group
            each owner in owners
              .list-group-item
                =owner
                a(href='/portal/config/owner_delete?number=#{owner}', data-pjax='#main')
                  i.fa.fa-trash-o.fa-lg
