extends ./layout

block content
  .row.col-sm-6
    .bootcards-cards
      .panel.panel-default
        .panel-heading.clearfix
            h3.panel-title.pull-left KISST Password Reset
        .panel-body
          form.form-horizontal(action="/reset_request", method="POST")
            .form-group
              label.control-label Account Email
              .input-group
                input.form-control(type='text', value='', placeholder="you@google.com", name='email')
                span.input-group-btn
                  button.btn.btn-default
                    i.fa.fa-envelope-o(style="color:white;", type="submit")
                      | Reset

          .panel-footer
            a(href="/portal")
              | Back to Login
