extends ./layout

block content
  .row
    .bootcards-cards
      .panel.panel-default.bootcards-summary
        .panel-heading
          h3.panel-title Configuring #{name} : #{keyword}
        .panel-body
          .row
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config',  style='padding-top:35px;')
                i.fa.fa-3x.fa-comment
                h4
                  | Prompts
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config/owners',  style='padding-top:35px;')
                i.fa.fa-3x.fa-users
                h4
                  | Owners
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config/notification_emails', style='padding-top:35px;')
                i.fa.fa-3x.fa-envelope-o
                h4
                  | Notifications
            .col-sm-3
              a.bootcards-summary-item(href='/portal/config/type', style='padding-top:35px;')
                i.fa.fa-3x.fa-briefcase
                h4
                  | Job
