form#signup(action='/signup', method='post')
    h2 Sign Up
      |
      label(for='username') Username
      |
      input(type='text', value='', name='username')
      |
      |
      label(for='password') Password
      |
      input(type='password', value='', name='password')
      |
      |
      .submit
        button Sign Up
