/*General */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

html,body  {
height:100%;
font-family: 'Source Sans Pro', sans-serif;
}

.content-config-modal {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}

.front-page {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.what_subtitle {
  font-style:italic;
}

.pothole-image {
	float:none;
  display:inline-block;
	vertical-align:middle;
  margin-right:-4px;
	margin-top: 50px;
}

.front-image {
  margin: 0 auto;
}

.mobile-image {
  height: 60vh;
}

.mobile-body {
  height: 100vh;
  position: relative;
}
.desktop-body {
  height: 100vh;
  position: relative;
}
.desktop-footer {
	position: absolute;
  bottom: 20px;
  width: 100%;
  align-items: center;
}

.mobile-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  align-items: center;
}

.front-page-text {
  text-align: right;
	display:table-cell;
	vertical-align:middle;
	float:none;
}

.front-page-frog {
  padding-top: 10px;
}
.full-screen {
  height: 100%;
  width: 100%;
  min-height:100%;
}

/* Nav */
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0;
	width: 100%;
	z-index: 999;
	border-radius: 0;
}


.action-button {
  border-style: solid;
  border-color: #697c3c;
  border-width: thin;
}

.lead {
	font-size: 16px;
	font-weight: 400;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  background-size: cover;
  text-align: center;
}

.what-is-section {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.conversations-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.purchase-section {
  height: 100%; /* Full PAge */
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  background-size: cover;

}
.contact-section {
  height: 100%; /* Full PAge */
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  background-size: cover;

}

.navbar-brand  {
  padding-top: 0px;
}
.stepwizard-step p {
    margin-top: 10px;
}

.terms-links {
  color: darkgreen
}
.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;

}


.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 90px 0;
}

/* Nav */
.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0;
	width: 100%;
	z-index: 999;
	border-radius: 0;
}

.navbar-default {
	position: relative;
	min-height: 60px;
	width: 100%;
	z-index: 999;

}

.navbar-default .navbar-nav>li>a {
  color: #697c3c;
  font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #697c3c;
  font-weight: 400;

}

.navbar-default .navbar-brand {
  color: #697c3c;
  font-weight: 400;
}
.navbar-default .navbar-brand:hover {
  color: #697c3c;
  font-weight: 400;
}

.navbar-brand {
	letter-spacing: 3px;
	font-weight: 400 !important;
  font-family: 'Source Sans Pro', sans-serif;
}


.vsm-show {
  letter-spacing: 3px;
  font-weight: 400 !important;
  text-align: center;
  width: 100%;
}

.bottom-front {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.terms-links a {
  color: darkgreen;
}
@media screen and (min-width: 568px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  .jumbotron h1 {
    font-size: 48px;
    height: inherit;
  }
  .vsm-show {
    display: none;
  }
}


@media screen and (max-width: 568px) {
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  h1 {
    font-size:32px;
  }
  h2 {
    font-size: 20px;
  }
  .front-image {
    height: 240px;
    width: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }
  .vsm-show {
    display: none;
  }

@media screen and (max-width: 320px) {
  h1 {
    font-size:24px;
  }
  h2 {
    font-size: 20px;
  }
  .front-image {
    display: none;
  }
  .front-page {
    display: none;
  }
  .front-page-text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    width: 100%;
  }
  .vsm-show {
    display: inline;
  }
}
