{{!< ../layout}}

<div id="activityCard">

	<div class="panel panel-default bootcards-media">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Media</h3>

			<!--small screen component-->
			<div class="btn-group pull-right visible-xs">
				{{#if parent}}
					{{#if parent.isContact}}
						<a class="btn btn-primary" href="/contacts/{{parent.id}}/connections/{{connection.id}}/edit"
							data-toggle="modal"
							data-target="#editModal">
					{{else}}
						<a class="btn btn-primary" href="/connections/{{connection.id}}/edit"
							data-toggle="modal"
						data-target="#editModal">
					{{/if}}
				{{else}}
					<a class="btn btn-primary" href="/connections/{{connection.id}}/edit"
						data-toggle="modal"
						data-target="#editModal">
				{{/if}}
					<i class="fa fa-pencil"></i>
					<span>Edit</span>
				</a>
			</div>

			<!--big screen component-->
			{{#if parent}}
				{{#if parent.isContact}}
					<a class="btn btn-primary pull-right hidden-xs" href="/contacts/{{parent.id}}/connections/{{connection.id}}/edit"
						data-toggle="modal"
						data-target="#editModal">
				{{else}}
					<a class="btn btn-primary pull-right hidden-xs" href="/connections/{{connection.id}}/edit"
						data-toggle="modal"
						data-target="#editModal">
				{{/if}}
			{{else}}
				<a class="btn btn-primary pull-right hidden-xs" href="/connections/{{connection.id}}/edit"
					data-toggle="modal"
					data-target="#editModal">
			{{/if}}
				<i class="fa fa-pencil"></i>
				<span>Edit</span>
			</a>

		</div>
		<div class="panel-body">
			{{{connection.details}}}
		</div>
		<img src="{{{connection.src}}}" class="img-responsive"/>
	</div>

</div>
